# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Media (user uploads)
/media/

# IDE / OS
.idea/
.vscode/
.DS_Store
Thumbs.db
